
<div class="container">
	<h3 id="profilePageTitle" style="display: inline-block;">Your Profile:</h3>
	<button class="btn btn-outline-danger float-right" style="margin-top: 30px" onClick="MainObject.unloadSecondary(true)">Go Back</button>
</div>


<div class="splitColumnsRow">
	<div class="left-column-profile">

		<img id="profilePictureOnProfile" class="profileImage" />

	</div>

	<div class="right-column-profile">
		<h3 id="profileFullName">Tu treba ime</h3>
		<hr>
		<h2 class="blue-titles-profile">Name:</h2>
		<h2 class="black-titles-profile" id="profileName"></h2>
		<hr>
		<h2 class="blue-titles-profile">Surname:</h2>
		<h2 class="black-titles-profile" id="profileSurname"></h2>
		<hr>
		<h2 class="blue-titles-profile">Age:</h2>
		<h2 class="black-titles-profile" id="profileAge"></h2>
		<hr>
		<h2 class="blue-titles-profile">City:</h2>
		<h2 class="black-titles-profile" id="profileCity"></h2>
		<hr>
		<h2 class="blue-titles-profile">Country:</h2>
		<h2 class="black-titles-profile" id="profileCountry"></h2>
		<hr>
		<h2 class="blue-titles-profile">Gender:</h2>
		<h2 class="black-titles-profile" id="profileGender"></h2>
		<hr>

	</div>
</div>


